@import "compass/css3";
@import "compass/utilities";
@import "base";
@import "mixins";

*,
*:before,
*:after {
  @include box-sizing(border-box);
}

body {
  background-color: #44495C;
  @media #{$small} {
    background: image-url('grey_wash_wall.png') repeat 0 0;
  }
  color: #fff;
  font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a, button {
  color: #fff;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Segoe UI Light', 'Open Sans', Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.3;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

#wrapper {
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  padding: 1px 0;
  > h4 {
    text-align: center;
  }
  @media #{$small} {
    background-color: #535A6C;
  }
}

header {
  padding: 1px 0;
  background-color: #000;
  text-align: center;
  h1 {
    margin: 0;
  }
}

ul,
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list-item {
  @include clearfix;
  background-color: #535A6C;
  border-bottom: 2px solid #bbb;
  h1 {
    font-size: $h4-font-size;
    margin: 0;
    padding: 5px 10px 10px 10px;
  }
  p {
    padding: 10px 10px 5px 10px;
    margin: 0;
  }
}

.toggle-check {
  width: 30px;
  height: 100%;
  background-color: #44495C;
}

.checkbox-container,
.item-info {
  float: left;
}

.checkbox-container {
  width: 10%;
  min-height: 100%;
  height: 100%;
  padding: 10px;
}
.item-content {
  @include clearfix;
}

.item-info {
  width: 100%;
}

@each $color in $colors {
  @include sexy-border($color);
}